@import url("https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("./img/bannerHeader.png");
  background-repeat: no-repeat;
  background-size: contain;
  .box-header {
    margin-top: 30px;
    width: 80%;
    height: 10vh;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
    nav {
      width: 40%;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      a {
        color: white;
        font-family: "Roboto", sans-serif;
      }
    }
  }
}

.box-banner {
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;
  .box-titulo {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    width: 568px;
    height: 266px;
    h2 {
      font-size: 2.7rem;
      background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      font-weight: bold;
    }
    p {
      width: 421px;
      height: 73px;
      font-family: inter;
      font-size: 1.3rem;
      font-weight: 400;
      color: #04031c;
    }
    .porIdade {
      width: 257px;
      height: 44px;
      border: transparent;
      border-radius: 10px;
      color: #ffffff;
      background-color: #1173d4;
      cursor: pointer;
    }
    .saibaMais {
      width: 162px;
      height: 44px;
      border: solid 1px;
      border-radius: 10px;
      color: #1173d4;
      background-color: #ffffff;
      cursor: pointer;
    }
  }
}

.examesRotina {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding-bottom: 30px;
  h2 {
    font-size: 2.7rem;
    background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    padding: 20px;
  }
  p {
    padding: 20px;
    width: 73vw;
    height: auto;
    font-family: inter;
    font-size: 1.2rem;
    font-weight: 400;
    color: #04031c;
    padding-bottom: 10px;
  }
  .artigosRotina {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 15px;
    width: 73vw;
    margin-top: 20px;
    justify-content: space-between;
    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 282px;
      height: 202px;
      font-family: inter;
      justify-content: space-around;

      img {
        width: 53px;
        height: 53px;
      }
      h3 {
        font-weight: 600;
        font-style: bold;
        font-size: 20px;
      }
      .paragrafoArtigosRotina {
        width: 90vw;
        // font-weight: 400;
        font-size: 18px;
        padding: 0;
        width: auto;
      }
    }
  }
}

.prevencaoFeminina {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  justify-content: space-around;
  background-color: #fdefef;
  padding-bottom: 30px;

  h2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      linear-gradient(
        90deg,
        rgba(249, 1, 111, 0.54) 0%,
        rgba(147, 8, 133, 0.619615) 41.83%,
        rgba(208, 56, 170, 0.754793) 70.19%,
        #851c87 100%
      );

    font-size: 2.7rem;
    padding-bottom: 50px;
    padding-top: 30px;
    height: 100px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  .artigosPrevencaoFeminina {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 60px;
    width: 73vw;
    justify-content: space-around;
    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 16px;
      width: 250px;
      height: 400px;
      background-color: #ffffff;
      padding: 16px 8px 16px 8px;
      box-shadow: 0px 4px 4px 0px #00000040;
    }
    img {
      width: 105px;
      height: 105px;
      border-radius: 100px;
      margin-bottom: 10px;
    }
    ul {
      margin-top: 20px;
    }
    li {
      margin-left: 12px;
    }
  }
}

.prevencaoMasculina {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: auto;
  justify-content: space-around;
  background-color: #fdefef;
  padding-bottom: 10px;

  h2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      linear-gradient(
        90deg,
        #3373d2 16.04%,
        #6f95c7 33.14%,
        #7bb5f5 54.51%,
        #0074ee 68.5%,
        #5ea7ef 87.02%
      );

    font-size: 2.7rem;
    height: 100px;
    padding-bottom: 50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  .artigosPrevencaoMasculina {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 60px;
    column-gap: 37px;
    width: 73vw;

    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 16px;
      width: 250px;
      height: 400px;
      background-color: #ffffff;
      padding: 16px 8px 16px 8px;
      box-shadow: 0px 4px 4px 0px #00000040;
      img {
        width: 105px;
        height: 105px;
        border-radius: 100px;
        margin-bottom: 10px;
      }
      ul {
        margin-top: 20px;
      }
      li {
        margin-left: 12px;
      }
    }
  }
}

.alertasImportantes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 15px 0px 50px 0px;
  background-color: #fdefef;

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    padding: 15px 0px 50px 0px;
    background-color: #fdefef;

    h2 {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        linear-gradient(90deg, #1173d4 25.96%, #33cc73 74.52%);

      font-size: 2.7rem;
      height: 100px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      font-weight: bold;
      padding-bottom: 30px;
    }
    .artigosAlertasImportantes {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      row-gap: 35px;
      column-gap: 60px;
      width: 100%;
      article {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 7px;
        // flex-wrap: wrap;
        width: 416px;
        height: 141px;
        font-family: Roboto;
        border-radius: 10px;

        .titulo-article {
          display: flex;
          width: 98%;
          flex-direction: row;
          height: 38px;
          text-align: center;
          align-items: center;
          img {
            margin-left: 5px;
            width: 35px;
            height: 35px;
          }
          h3 {
            margin-left: 4px;
            font-weight: 700;
            font-style: Bold;
            font-size: 20px;
            line-height: 45px;
          }
        }

        p {
          font-weight: 400;
          font-style: Regular;
          font-size: 16px;
          text-align: center;
          line-height: 20px;
        }
      }
      .rosa {
        background: #f9d5e5;
        h3,
        p {
          color: #ad346a;
        }
      }
      .azul {
        background: #cfe2f3;
        h3,
        p {
          color: #2769a3;
        }
      }
      .verde {
        background: #d4edda;
        h3,
        p {
          color: #244a2d;
        }
      }
      .amarelo {
        background: #ffe9c2;
        h3,
        p {
          color: #976c00;
        }
      }
    }
  }
}

.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 425px;
  background-color: #313461;
  .artigosRodape {
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    height: 80%;
    padding-top: 20px;

    article {
      width: 30%;
      height: 98%;
      img {
        padding-left: 12px;
        width: 53%;
        height: 39px;
      }
      h5 {
        font-family: poppins;
        font-weight: 700;
        font-size: 16px;
        color: #ffffff;
        width: 90%;
        height: 44px;
      }
      p {
        font-family: poppins;
        font-weight: 400;
        font-size: 16px;
        color: #ffffff;
        width: 85%;
        height: 80px;
      }
      a {
        font-family: poppins;
        font-weight: 400;
        font-size: 1rem;
        color: #ffffff;
        width: 85%;
      }
    }
    .contato {
      p {
        height: 26px;
      }
      .emergencia {
        font-size: 14px;
      }
    }
  }
  .copy {
    display: flex;
    text-align: center;
    align-items: center;
    border-top: solid 1px #ffffff;
    width: 100%;
    height: 17%;
    P {
      font-family: poppins;
      font-weight: 400;
      font-size: 0.8rem;
      color: #ffffff;
      width: 100%;
    }
  }
}

/// responsividades ///

@media (min-width: 500px) and (max-width: 1000px) {
  header {
    background-image: url("");
  }
  .rodape {
    .artigosRodape {
      width: 98%;
      article {
        width: 45%;
        h5,
        p {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 201px) and (max-width: 500px) {
  header {
    background-image: url("");
    img {
      width: 87px;
      height: 21px;
    }

    .box-header {
      nav {
        a {
          font-size: 10px;
          cursor: pointer;
        }
      }
    }
    .box-banner {
      display: flex;
      flex-direction: column;
      align-items: center;

      .box-titulo {
        width: auto;
        height: 420px;
        text-align: center;
        justify-content: space-evenly h2 {
          font-size: 2.7rem;
        }
        p {
          width: auto;
          height: auto;
        }
        div {
          display: flex;
          justify-content: center;

          gap: 10px;
          .porIdade {
            width: 162px;
            height: 53px;
          }
          .saibaMais {
            width: 107px;
            height: 53px;
          }
        }
      }
    }
  }
  .examesRotina {
    h2 {
      font-size: 24px;
    }
  }
  .artigosRotina {
    flex-direction: column;
    text-align: center;
  }
  .prevencaoFeminina {
    text-align: center;
    h2 {
      padding: 0%;
      font-size: 32px;
    }
  }
  .prevencaoMasculina {
    text-align: center;
    h2 {
      padding: 0%;
      font-size: 32px;
    }
  }
  .alertasImportantes {
    section {
      width: 98vw;
      text-align: center;
      h2 {
        padding: 0%;
        font-size: 24px;
      }
    }
  }
  .titulo-article {
    img {
      width: 31px;
      height: 31px;
    }
    h3 {
      font-size: 19px;
    }
  }
  .rosa,
  .azul,
  .verde,
  .amarelo {
    min-width: 311px;
    p {
      font-size: 15px;
    }
  }
  .rodape {
    display: flex;
    height: 600px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    .artigosRodape {
      justify-content: space-evenly;
      width: 100%;
      height: 90%;

      height: auto;
      flex-direction: column;
      padding: 0%;
      article {
        width: 100%;
        height: auto;
      }
      .prevencao,
      .links,
      .contato {
        h5 {
          width: auto;
          font-size: 15px;
          height: 35px;
        }
      }

      .prevencao {
        height: 125px;
        img {
          margin-left: 0%;
          width: 145px;
          height: 34px;
        }
        p {
          width: auto;
        }
      }
      .links {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        a {
          width: 100%;
        }
      }
      .contato {
        p {
          width: 100%;
        }
      }
    }
    .copy {
      height: auto;
    }
  }
}
